<% @page_title = @tag.name %>
<%= title(@page_title)%>

<p>There <%=pluralize_verb_noun(@tag.taggings.size, "recommendation") %> with this tag:</p>

<ul class="recommendations">
	<% @tag.taggings.each do |tagging| %>
		<li>
		<% tag_links = Array.new %>
		<% tagging.recommendation.taggings.each do |tagging| %>
		<% tag_links << tag_link(tagging, false) unless tagging.tag.id == @tag.id %>
		<% end %>

		<%= link_to(h(tagging.recommendation.name), recommendation_path(tagging.recommendation)) %>
		
		<%= content_tag("span", "(also tagged " + tag_links.to_sentence(:skip_last_comma => true) + ")", :class => "tags") unless tag_links.empty? %>
		</li>

	<% end %>
</ul>

<p>See <%= link_to "all tags", tags_path %>.</p>